*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.logo{
    height: 14vh;
    display: flex;
    align-items: center;
    position: absolute;
    left: 5%;
}
.logo h1{
    font-size: 3em;
    font-family: Poppins;
    font-weight: 700;
}
main{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 14vh;
}
.forgetPassword{
    width: 40%;
}
.forgetPasswordImg{
    width: 40%;
}
.formArea{
    position: relative;
    left: 2vw;
    top: 12vh;
    width: 90%;
}
.boldtxt h1{
    font-size: 2.5em;
    font-weight: 700;
    font-family: Poppins;
    margin-bottom: 3vh;
}
.boldtxt p{
    color: #313131;
    font-size: 1.3em;
    font-weight: 400;
    margin-bottom: 4vh;
}
fieldset{
    height: 8.5vh;
    border-radius: 8px;
    margin-bottom: 4vh;
}
legend{
    position: relative;
    left: 10px;
    color: #1C1B1F;
    font-size: 1.3em;
    font-weight: 400;
    font-family: Poppins;
}
input{
    font-family: Poppins;
    font-size: 1.4em;
    font-family: Poppins;
    font-weight: 400;
    font-weight: 400;
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    padding-left: 20px;
}
input:focus{
    outline: none;
}
button{
    width: 100%;
    background-color: #515DEF;
    color: #F3F3F3;
    text-align: center;
    height: 7vh;
    font-size: 1em;
    font-weight: 400;
    font-family: Poppins;
    border: none;
    border-radius: 6px;
    margin-top: 4vh;
    margin-bottom: 4vh;
    cursor: pointer;
}