*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.logo{
    height: 14vh;
    display: flex;
    align-items: center;
    position: absolute;
    right: 7%;
}
.logo img{
    margin-right: 10px;
}
h1{
    font-size: 3em;
    font-family: Poppins;
    font-weight: 700;
}
main{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 10vh;
}
.login{
    width: 46%;
}
.loginImg{
    width: 40%;
}
.loginImg img{
    width: 100%;
}
form{
    position: relative;
    left: 3vw;
    top: 12vh;
    width: 90%;
}
form h1{
    font-size: 3em;
    font-family: Poppins;
    font-weight: 700;
    margin-bottom: 3vh;
}
#txt_1{
    color: #313131;
    font-size: 1.3em;
    font-weight: 400;
    margin-bottom: 4vh;
}
fieldset{
    height: 8vh;
    border: 1px solid #1C1B1F;
    border-radius: 6px;
    margin-bottom: 3vh;
}
legend{
    position: relative;
    left: 10px;
    color: #1C1B1F;
    font-size: 1.2em;
    font-weight: 400;
}
#inpTxt{
    font-family: Poppins;
    font-size: 1.3em;
    font-family: Poppins;
    font-weight: 400;
    font-weight: 400;
    border: none;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    padding-left: 20px;
 }
 #inpTxt:focus{
    outline: none;
 }
 #name1st{
    width: 48%;
 }
 #name2nd{
    width: 48%;
 }
 .name{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
.credentials{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.inpCheck{
    display: flex;
    align-items: center;
    margin-bottom: 1.5vh;
}
#inpCheck{
    height: 3vh;
    width: 1.6vw;
    margin-right: 3px;
}
.inpCheck p{
    font-size: 1.2em;
    font-family: Poppins;
    font-weight: 400;
}
button{
    width: 100%;
    background-color: #515DEF;
    color: #F3F3F3;
    text-align: center;
    height: 7vh;
    font-size: 1.3em;
    font-weight: 400;
    font-family: Poppins;
    border: none;
    border-radius: 6px;
    margin-bottom: 3vh;
    cursor: pointer;
}
#login{
    font-size: 1.2em;
    font-weight: 400;
    font-family: Poppins;
    text-align: center;
    margin-bottom: 3vh;
}
a{
    font-size: 1em;
    color: #FF8682;
    text-decoration: none;
}
.horizontalLine{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
}
hr{
    width: 38%;
    background-color: #313131;
}
.horizontalLine p{
    position: relative;
    top: 0.2vh;
    font-size: 1.3em;
    font-weight: 400;
    font-family: Poppins;
}
.loginbox{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#loginMethod{
    height: 8vh;
    width: 28%;
    border: 1px solid #515DEF;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loginMethod img{
    height: 3.5vh;
}